# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/

# Jupyter Notebook checkpoints (ignore if you add notebooks later)
.ipynb_checkpoints

# Data files (big data)
data/raw/

# MacOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python environment files
.env

# PyCharm files
.idea/
*.iml

# VS Code files (if you use it sometimes)
.vscode/
